#nav-bar{
  background-color: #00a087;
  color: #e8fdff;
  height:80px;
  padding: 0 2em 0 2em;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 1;
}

#nav-bar .header {
  display: block;
  float: left;
  font-size: 2em;
  line-height: 80px;
}

#nav-bar .logo {
  float:left;
  height:80px;
  margin-right:10px;
  width:80px;
}


#nav-bar button{
  background-color:#E7FDFF;
  border: 1px solid black;
  border-radius: 3px;
  color:#00a087;
  float:right;
  height:60px;
  margin-top: 10px;
  width:120px;
}

#nav-bar button:hover{
  background-color:white;
  color:black;
}
