.new-tweet{
  display:none;
  position:relative;
  padding: 0.5em 1em;
  background-color: #eee;
  margin: 0px 2em 0px 2em;
  border-radius: 5px;
  border: 1px solid #ADADAD;
}

.new-tweet h2{
  color:#244751;
  margin-top: 0;
  border-bottom: 1px solid black;
}

.new-tweet textarea{
  padding: 0.5em 0.5em;
  width:100%;
  margin: auto;
}

span.counter{
  color:#244751;
  position: absolute;
  right:1em;
  bottom:0.5em;
}