article.tweet{
  margin: 0em 2em 2em 2em;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

article.tweet:hover{
  border: 1px solid #ADADAD;
}

article p{
  word-wrap: break-word;
  padding: 0.5em 0.5em;
}

article.tweet header{
  opacity: 0.5;
  border-radius:5px 5px 0 0;
  padding: 0.5em;
  height:70px;
  margin-top: 0;
  background-color: #eee;
  color:#244751;
}

article.tweet h2{
  margin-top: 0px;
}

article.tweet h3{
  margin-top: -2.75em;
  font-size: 1em;
  float:right;
  font-weight:normal;
}

article.tweet img{
  opacity: 0.5;
  border-radius: 5px;
  margin-right:0.5em;
  float:left;
}

article.tweet footer{
  padding: 0.5em 0.5em;
  border-top: 1px solid #eee;
  font-size: 0.75em;
}

article.tweet footer div{
  color:#66C6B7;
  display: none;
  float:right;
}